USE [master]
GO
/****** Objeto: Database [CRUDPeliculas] Fecha de script: 11/7/2026 8:03:19 a. m. ******/
CREATE DATABASE [CRUDPeliculas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUDPeliculas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUDPeliculas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUDPeliculas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CRUDPeliculas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUDPeliculas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUDPeliculas]
GO
/****** Objeto: User [crud_peliculas_user] Fecha de script: 11/7/2026 8:03:19 a. m. ******/
CREATE USER [crud_peliculas_user] FOR LOGIN [crud_peliculas_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [crud_peliculas_user]
GO
/****** Objeto: Table [dbo].[Actores] Fecha de script: 11/7/2026 8:03:19 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [nvarchar](20) NOT NULL,
	[Foto] [nvarchar](255) NULL,
	[NombreArtistico] [nvarchar](150) NULL,
	[EstaVivo] [bit] NOT NULL,
	[FechaFallecimiento] [date] NULL,
	[Profesion] [nvarchar](100) NULL,
	[AnioNacimiento] [int] NULL,
	[Apellido] [nvarchar](100) NULL,
	[Nombres] [nvarchar](150) NULL,
	[Apellidos] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ActoresPeliculas] Fecha de script: 11/7/2026 8:03:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActoresPeliculas](
	[PeliculaId] [int] NOT NULL,
	[ActorId] [int] NOT NULL,
	[Personaje] [nvarchar](150) NULL,
	[EsPrincipal] [bit] NOT NULL,
	[TipoParticipacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_ActoresPeliculas] PRIMARY KEY CLUSTERED 
(
	[PeliculaId] ASC,
	[ActorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Directores] Fecha de script: 11/7/2026 8:03:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[NombreArtistico] [nvarchar](150) NULL,
	[FechaNacimiento] [date] NULL,
	[Sexo] [nvarchar](20) NULL,
	[EstaVivo] [bit] NOT NULL,
	[FechaFallecimiento] [date] NULL,
	[Foto] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Peliculas] Fecha de script: 11/7/2026 8:03:20 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peliculas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Genero] [nvarchar](80) NOT NULL,
	[FechaEstreno] [date] NOT NULL,
	[Foto] [nvarchar](255) NULL,
	[Director] [nvarchar](150) NULL,
	[Productora] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Peliculas_Titulo] UNIQUE NONCLUSTERED 
(
	[Titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actores] ADD  CONSTRAINT [DF_Actores_EstaVivo]  DEFAULT ((1)) FOR [EstaVivo]
GO
ALTER TABLE [dbo].[ActoresPeliculas] ADD  CONSTRAINT [DF_ActoresPeliculas_EsPrincipal]  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [dbo].[Directores] ADD  DEFAULT ((1)) FOR [EstaVivo]
GO
ALTER TABLE [dbo].[ActoresPeliculas]  WITH CHECK ADD  CONSTRAINT [FK_ActoresPeliculas_Actores] FOREIGN KEY([ActorId])
REFERENCES [dbo].[Actores] ([Id])
GO
ALTER TABLE [dbo].[ActoresPeliculas] CHECK CONSTRAINT [FK_ActoresPeliculas_Actores]
GO
ALTER TABLE [dbo].[ActoresPeliculas]  WITH CHECK ADD  CONSTRAINT [FK_ActoresPeliculas_Peliculas] FOREIGN KEY([PeliculaId])
REFERENCES [dbo].[Peliculas] ([Id])
GO
ALTER TABLE [dbo].[ActoresPeliculas] CHECK CONSTRAINT [FK_ActoresPeliculas_Peliculas]
GO
USE [master]
GO
